{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
            <div class="col-md-3" >
                <div class="card" style="width:15rem; height:25rem; text-align:center;" fixed>
                    <image class="card-img-top" src="{{i.image.url}}" width="100" height="300"></image>
                        {{i.name}}
                        <a href="{% url 'edit' i.id %}">edit</a>
                        <a href="{% url 'delete' i.id %}">delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}